.converterWrapper {
  height: 100vh;
  background-color: rgb(234, 236, 228);
  overflow: hidden;
}
.header {
  background-color: rgb(69, 88, 88);
  width: 100vw;
  color: white;
  padding: 10px 0;
}
.date {
  padding: 10px 30px;
  text-align: right;
}
.currencies {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 550px) {
  .currencies {
    flex-direction: column;
    width: 250px;
  }
}
