.converterWrapper {
  height: 100vh;
  background-color: rgb(234, 236, 228);
  overflow: hidden;
  position: relative;
}
.header {
  background-color: rgb(69, 88, 88);
  width: 100vw;
  color: white;
  padding: 10px 0;
}
.infoContainer {
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: end;
}
.btnGetRate {
  color: white !important;
  border: 1px solid white !important;
  margin-bottom: 20px !important;
}
.btnGetRate:hover {
  border: 1px solid rgb(166, 162, 162) !important;
}
.rateInfo {
  padding: 0 30px;
  width: 300px;
}
.date {
  margin-bottom: 10px;
}
.btns {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.btn {
  color: rgb(19, 21, 21) !important;
  border: none !important;
}
.btn.activeBtn {
  border: 1px solid rgb(69, 88, 88) !important;
}
.currencies {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  right: 10px;
  max-width: 360px;
  min-width: 200px;
  padding: 15px 20px;
  border: 2px solid rgb(161, 26, 26);
  color: rgb(17, 15, 15);
  background-color: rgb(252, 140, 140);
}
@media (max-width: 550px) {
  .currencies {
    flex-direction: column;
    width: 250px;
  }
}
